/stackoverview/stackoverview.iml
/stackoverview/build
/app/packer.properties
/.idea
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
**/build
/captures
*.iml
*.log
gradlew/
gradle/
gradlew.bat
gradlew
/support_v4/support_v4.iml
/import-summary.txt
/support_v4/build
